header {
    background-color: rgb(167, 153, 108);
    border: 2px solid black;
    padding: 20px;
}

img {
    width: 300px;
}

.card {
    width: 300px;
    border: 2px solid black;
    float: left;
    margin: 10px;
}

h2