* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

html {
    font-size: 62.5%;
}

.hamburger-menu {
    width: 3rem;
    height: 3rem;
    position: fixed;
    top: 3rem;
    right: 5rem;
    z-index: 200;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    cursor: pointer;
}

.line {
    width: 100%;
    height: 0.2rem;
    background-color: rgb(255, 255, 255);
    /* box-shadow: 0 0.1rem 0.2rem rgba(0, 0, 0, 0.2); */
}

.header {
    width: 100%;
    height: 100vh;
    position: relative;
    perspective: 100rem;
    overflow: hidden;
}

.img-wrapper {
    width: 100%;
    height: 100%;
    background-color: black;
    /* opacity: 0.8; */
    overflow: hidden;
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    /* opacity: 0.5; */
    animation: scale 25s;
}

@keyframes scale {
    0% {
        transform: scale(1.5);
    }
    100% {
        transform: scale(1);
    }
}

.banner {
    position: absolute;
    top: 10%;
    left: 10%;
}

.banner h1 {
    font-size: 8rem;
    font-weight: 300;
    color: rgb(233, 223, 207);
    font-family: 'Baloo Da 2', cursive;
    width: 50%;
    line-height: 9rem;
    letter-spacing: 0.1rem;
    word-spacing: 0.2rem;
    animation: moveBanner 1s 0.5s;
    forwards
}

.banner p {
    font-family: 'Baloo Da 2', cursive;
    font-size: 15px;
    color: rgb(233, 223, 207);
    width: 30%;
    margin-bottom: 3rem;
    animation: moveBanner 1s 0.7s;
    forwards
}

.banner button {
    width: 170px;
    height: 40px;
    background-color: rgb(144, 174, 185);
    border: 1px solid rgb(82, 78, 94);
    font-family: 'Baloo Da 2', cursive;
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(238, 234, 218);
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    animation: moveBanner 1s 0.9s;
    forwards
}

@keyframes moveBanner {
    0% {
        transform: translateY(40rem) rotateY(-20deg);
    }
    100% {
        transform: translateY(0) rotateY(0);
        opacity: 1;
    }
}